html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    font-family: Roboto, sans-serif;
    background-color: #FFFFFF;
    color: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul, ol {
    list-style-type: none;
    padding: 0;
        margin: 0;
}

a {
    text-decoration: none;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.header {
    padding-top: 24px;
    padding-bottom: 24px;
}

.nav-link {
    font-family: "Raleway", sans-serif;
    color: #000;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
}
.span {
    color: #2196F3;
}
.list {
    cursor: pointer;
}
/* .current {
    color: #2196F3;
}
.push {
    color: #2196F3;
} */
.list-item {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    line-height: calc(16 / 14);
}
.list-item:hover, .list-item:focus, .list-item:active {
    color: #2196F3;
}
/* .list-link:hover, .list-link:focus, .list-link:active {
    color: #2196F3;
} */
.contacts-list {
    cursor: pointer;
    
}
.contact-link {
    font-weight: 500;
        font-size: 14px;
        letter-spacing: 0.02em;
        color: #757575;
        line-height: calc(16 / 14);
}
.contact-link:hover, .contact-link:focus {
    color: #2196f3;
}
/* HERO */
.hero {
    background-color: #2f303a;
    text-align: center;
    padding-top: 188px;
}
.title {
    font-weight: 900;
        font-size: 44px;
        line-height: 1.36364;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        text-align: center;
        color: #fff;
        line-height: calc(60 / 44);
        margin-bottom: 48px;
}
.button {
    background-color: #2196f3;
    font-weight: 700;
        font-size: 16px;
        line-height: 1.875;
        letter-spacing: 0.06em;
        text-align: center;
        color: #fff;
        line-height: calc(30 / 16);
        margin-bottom: 188px;
}
.button:hover, .button:active {
    background-color: #188CE8;
}
/* OPTIONS */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features-list {
    list-style: none;
    padding-top: 120px;
    padding-bottom: 120px;
}
.features-title {
    font-weight: 700;
        font-size: 14px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #212121;
        line-height: calc(16 / 14);
}
.features-text {
    font-weight: 400;
        font-size: 14px;
        line-height: 1.71429;
        letter-spacing: 0.03em;
        color: #757575;
        line-height: calc(24 / 14);
}
/* ABOUT */
.about-title {
    font-weight: 700;
        font-size: 36px;
        letter-spacing: 0.03em;
        text-align: center;
        color: #212121;
        line-height: calc(42 / 36);
}
.about-list {
    list-style: none;
}
.about-img {
}
/* TEAM */
.team {
    background-color: #F5F4FA;
}
.team-title {
    font-weight: 700;
        font-size: 36px;
        letter-spacing: 0.03em;
        text-align: center;
        color: #212121;
        line-height: calc(42 / 36);
        padding-top: 120px;
}
.team-list {
    list-style: none;
    padding-bottom: 120px;
}
.team-item {
    background-color: #FFFFFF;
}
.team-name {
    font-weight: 500;
        font-size: 16px;
        letter-spacing: 0.03em;
        text-align: center;
        color: #212121;
        line-height: calc(19 / 16);
}
.team-text {
    font-weight: 400;
        font-size: 16px;
        letter-spacing: 0.03em;
        text-align: center;
        color: #757575;
        line-height: calc(19 / 16);
}
/* FOOTER */
.footer {
    background-color: #2f303a;
    height: 312px;
}

.container-foooter {
    padding-top: 100px;
}
.footer-logo {
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    font-weight: 700;
        font-size: 26px;
        letter-spacing: 0.03em;
    color: #fff;
}
address {
    font-style: normal;
}
.footer-text {
    font-weight: 400;
        font-size: 14px;
        line-height: 1.71429;
        letter-spacing: 0.03em;
        color: #fff;
        line-height: calc(24 / 14);
        padding-bottom: 100px;
}

/* PORTFOLIO */
.portfolio-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
}
.portfolio-text {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.875;
        letter-spacing: 0.03em;
        color: #757575;
}