html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    font-family: Roboto, sans-serif;
    background-color: #FFFFFF;
    color: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul, ol {
    list-style-type: none;
    padding: 0;
        margin: 0;
}

a {
    text-decoration: none;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
}

.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.header {
    padding-top: 24px;
    padding-bottom: 24px;
}

.container-header {
    display: flex;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.nav-link {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
        font-size: 18px;
        line-height: 1.16667;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #2e2f42;
    margin-right: 76px;
    text-transform: uppercase;
}
.span {
    color: #4d5ae5;
}
.list {
    cursor: pointer;
    display: flex;
    gap: 40px;
}
/* .current {
    color: #2196F3;
}
.push {
    color: #2196F3;
} */
.list-item {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    line-height: calc(16 / 14);
}
.list-item:hover, .list-item:focus, .list-item:active {
    color: #2196F3;
}
/* .list-link:hover, .list-link:focus, .list-link:active {
    color: #2196F3;
} */
.contacts-list {
    cursor: pointer;
    display: flex;
    gap: 40px;
}
.contact-link {
    font-weight: 500;
        font-size: 14px;
        letter-spacing: 0.02em;
        color: #757575;
        line-height: calc(16 / 14);
}
.contact-link:hover, .contact-link:focus {
    color: #2196f3;
}
/* HERO */
.hero {
    background-color: #2f303a;
    text-align: center;
    padding-top: 188px;
}
.title {
    font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
        margin-bottom: 48px;
        width: 496px;
        margin-left: auto;
        margin-right: auto;
}
.button {
    background-color: #4d5ae5;
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
        /* display: block;
        margin-left: auto;
        margin-right: auto; */
        margin-bottom: 188px;
        padding: 16px 32px;
        border-radius: 4px;
        border: none;
}
/* .button:hover, .button:active {
    background-color: #188CE8;
} */
/* OPTIONS */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features-list {
    list-style: none;
    padding-top: 120px;
    padding-bottom: 120px;
    display: flex;
    gap: 24px;
}

.features-item {
    width: calc((100% - 3 * 24px) / 4);
}
.features-title {
    font-weight: 700;
        font-size: 14px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #212121;
        line-height: calc(16 / 14);
        padding-bottom: 8px;
}
.features-text {
    font-weight: 400;
        font-size: 14px;
        line-height: 1.71429;
        letter-spacing: 0.03em;
        color: #757575;
        line-height: calc(24 / 14);
}
/* ABOUT */
.about-title {
    font-weight: 700;
        font-size: 36px;
        letter-spacing: 0.03em;
        text-align: center;
        color: #212121;
        line-height: calc(42 / 36);
}
.about-list {
    list-style: none;
}
.about-img {
}
/* TEAM */
.team {
    background-color: #F5F4FA;
}
.team-title {
    font-weight: 700;
        font-size: 36px;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        line-height: 1.11;
        padding-top: 120px;
        margin-bottom: 72px;
}
.team-list {
    list-style: none;
    padding-bottom: 120px;
    display: flex;
    gap: 24px;
}
.team-item {
    background-color: #FFFFFF;
    width: calc((100% - 3 * 24px) / 4);
}

.team-img {
    padding-bottom: 32px;
}
.team-name {
    font-weight: 500;
        font-size: 16px;
        letter-spacing: 0.03em;
        text-align: center;
        color: #212121;
        line-height: calc(19 / 16);
        padding-bottom: 8px;
}
.team-text {
    font-weight: 400;
        font-size: 16px;
        letter-spacing: 0.03em;
        text-align: center;
        color: #757575;
        line-height: calc(19 / 16);
        padding-bottom: 32px;
}
/* FOOTER */
.footer {
    background-color: #2f303a;
    /* height: 312px; */
}

.container-foooter {
    padding-top: 100px;
}
.footer-logo {
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    font-weight: 700;
        font-size: 18px;
        line-height: 1.16667;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #f4f4fd;
}
address {
    font-style: normal;
}
.footer-text {
    font-weight: 400;
        font-size: 14px;
        line-height: 1.71429;
        letter-spacing: 0.03em;
        color: #fff;
        line-height: calc(24 / 14);
        margin-top: 16px;
        padding-bottom: 100px;
        /* padding-bottom: 100px;
        padding-top: 16px; */
        width: 264px;
}

/* PORTFOLIO */
.portfolio-title-up {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11111;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        margin-top: 120px;
        margin-bottom: 72px;
}
.portfolio-list {
    display: flex;
    gap: 48px 24px;
    flex-wrap: wrap;
    margin-bottom: 120px;
}

.container-items {
    padding-left: 16px;
}

.portfolio-items {
    border-bottom: 1px solid #e7e9fc;
        border-left: 1px solid #e7e9fc;
        border-right: 1px solid #e7e9fc;
        width: calc((100% - 2 * 24px) / 3);
        /* width: 360px;
        height: 420px; */
}

.portfolio-img {

}
.portfolio-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
    margin-top: 32px;
    margin-bottom: 8px;
    /* padding-top: 32px;
    padding-bottom: 8px; */
}
.portfolio-text {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.875;
        letter-spacing: 0.03em;
        color: #757575;
        margin-bottom: 32px;
        /* padding-bottom: 32px; */
}